{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-BLOG - HOME</title>
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
        <link rel="icon" href=" {% static 'Images/favicon.png' %} ">
    </head>
    <body>
        <div id="preloader"></div>
        <header>
            <div class="logo">
                <span class="material-symbols-outlined">app_badging</span>
                <h1>E-BLOG</h1>
            </div>
            <ul></ul>
        </header>

        <h1 class="trending">Trending Posts</h1>
        
        <div class="posts-container"></div>
        <script src=" {% static 'JS/home.js' %}"></script>
    </body>
</html>