{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <link rel="icon" href=" {% static 'Images/favicon.png' %} ">
</head>
<body>
    <header>
        <div class="logo">
            <span class="material-symbols-outlined">app_badging</span>
            <h1>E-BLOG</h1>
        </div>
        <ul>
            <li>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
        </ul>
    </header>
    <div class="posts-container">
    <div class="post">
        <h2>{{post.title}}</h2>
        <span>{{post.author}}</span>
        <p>{{post.content}}</p>
    </div>
</div>
<div class="comment" style="">
    {% for comment in comments  %}
     <p>{{comment.author}}: {{comment.content}}</p>
    {% endfor %}
</div>
</body>
</html>