@import url('../Icons/icons.css');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
    background-color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.logo span {
    font-size: 4rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Instrument Sans';
}

header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
    column-gap: 0.3rem;
    padding: 10px 20px;
    background-color: rgb(93, 6, 255);
    color: #fff;
    border-radius: 100px;
    transition: 400ms ease-in-out;
}

header ul li a:hover {
    color: rgb(93, 6, 255);
    background-color: #fff;
}

.trending {
    position: relative;
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 3rem;
    margin-top: 2rem;
    width: fit-content;
    margin-inline: auto;
}

.trending::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 7px;
    background-color: #000;
}


.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: repeat(3, calc(180vh / 3));
    grid-auto-rows: calc(180vh / 3);
    gap: 2rem;
    padding: 2rem;
}

.post {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #e4e3e3b2;
    border-radius: 30px;
    color: #000;
}

.post button {
    padding: 15px 30px;
    background-color: #F32013;
    box-shadow: 0 0 10px #F32013;
    color: white;
    font-size: 2rem;
<<<<<<< HEAD
    font-family: 'dela gothic one';
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
=======
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
>>>>>>> 7e8777c06803ea655db3ebd7764f33b8ae64214f
}

.title-link {
    text-decoration: none;
    font-family: 'Rakkas';
    font-size: 2.3rem;
    justify-self: flex-start;
    line-height: 1;
    text-align: center;
    margin-top: 1.5rem;
    max-width: 98%;
    color: black;
    transition: all 150ms ease-in-out;
}

.title-link:hover{
 background-color: #98989891;
 border-radius: 8px;
 padding-left: 10px;
 padding-right: 10px;
}

.post span {
    font-family: 'Instrument Sans';
    font-size: 0.9rem;
}

.post p {
    font-family: 'Montserrat';
    max-width: 95%;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    font-weight: 400;
    opacity: 0.9;
}