@import url('../Icons/icons.css');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
    background-color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.logo span {
    font-size: 4rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Instrument Sans';
}

header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
    column-gap: 0.3rem;
    padding: 10px 20px;
    background-color: rgb(93, 6, 255);
    color: #fff;
    border-radius: 100px;
    transition: 400ms ease-in-out;
}

header ul li a:hover {
    color: rgb(93, 6, 255);
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: calc(100vh - 112px);
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 500px;
    height: 500px;
    background-color: #ecebeb;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form h2 {
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

form .input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.input-field input {
    width: 90%;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    border-radius: 100px;
    outline: none;
    border: 1px solid #000;
    text-align: center;
}

.input-field .info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    font-family: 'Montserrat';
    position: absolute;
    left: 35px;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.info span:nth-child(1) {
    font-size: 2rem;
}

.input-field input:focus,
.input-field input:user-valid {
    border: 2px solid #008000;
}

.input-field input:user-invalid {
    border: 2px solid #ff3333;
}

.error {
    border: 2px solid #ff3333 !important;
}

.input-field input:focus ~ .info,
.input-field input:user-valid ~ .info {
    left: 50px;
    opacity: 0;
}

form button {
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border-radius: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

form button:hover {
    background-color: #fff;
    color: #000;
}

label:has(input[type="file"]) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

label:has(input[type="file"])::before {
    content: 'For best profile image view. Upload an image with an aspect ratio of 1 : 1';
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200%;
    pointer-events: none;
    opacity: 0;
    transition: 300ms ease-in-out;
    text-align: center;
}

label:has(input[type="file"]):hover::before {
    top: -80px;
    opacity: 1;
}

label:has(input[type="file"]) div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    padding: 7px 14px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

label:has(input[type="file"]) input {
    opacity: 0;
    height: 42px;
    width: 207px;
}

form span {
    font-family: 'Montserrat';

    a {
        text-decoration: underline;
    }
}

canvas {
    display: none;
    border-radius: 30px;
}

.error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    column-gap: 0.5rem;
    font-size: 1.4rem;
    position: absolute;
    top: 10px;
    right: -350px;
    opacity: 0;
    width: 90%;
    height: 150px;
    max-width: 350px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: #fff;
    transition: 600ms ease-in-out;
    border: 4px solid #ff3333;
    padding: 10px;
}

.error-box span {
    font-size: 3.5rem;
    color: #ff3333;
    font-variation-settings: 
    'FILL' 0.9;
}

.error-box#visible {
    opacity: 1;
    right: 10px;
}